@model IEnumerable<Container>

<div>Recently modified containers</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Bin Number</th>
            <th>Subcategory</th>
            <th>Weight</th>
            <th>Cases</th>
            <th>USDA?</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Container c in Model){
            <tr>
                <td><a asp-controller="Containers" asp-action="ViewBin" asp-route-containerID="@c.ContainerID">@c.BinNumber</a></td>
                <td>@c.Subcategory.SubcategoryName</td>
                <td>@c.Weight</td>
                <td>@c.Cases</td>
                @if(c.IsUSDA){
                    <td class="text-center"><i class="fa fa-check-circle-o"></i></td>
                } else {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
