<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (ViewBag.Title != null) {
        <title>@ViewBag.Title - CCS Inventory</title>
    } else {
        <title>CCS Inventory</title>
    }
    @*Common includes here.  Such as CSS and JS*@
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/_common.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="icon" href="~/favicon.ico" />

    <script defer src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/scripts/sidebar.js"></script>
    @*Page-Specific styling: *@
    @RenderSection("includes", required: false)
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark noprint">
        <a class="navbar-brand" asp-page="/Index">
            <img class="d-inline-block align-top mr-2" alt="CCS" src="~/images/ccslogo.png" />
            <span class="menu-collapsed">CCS Inventory</span>
        </a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Help">Help</a>
                </li>
            </ul>

            @*Need to check if user is logged in and display the appropriate action (login vs logout)*@
            <div class="navbar-nav dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenu" role="button" data-toggle="dropdown">
                    <span class="fa fa-user fa-fw"></span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>@User.FindFirst("FullName").Value</span>
                    }
                    else
                    {
                        <span>Not Logged In</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-dark">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="dropdown-item text-light bg-dark" asp-page="/Account/Self"><span class="fa fa-cog mr-2"></span>User Settings</a>
                        <a class="dropdown-item text-light bg-dark" asp-page="/Account/Login" asp-page-handler="Logout"><span class="fa fa-sign-out mr-2"></span>Logout</a>
                    }
                    else
                    {
                        <a class="dropdown-item text-white" asp-page="/Account/Login"><span class="fa fa-sign-in mr-2"></span>Login</a>
                    }
                </div>
            </div>
        </div>
    </nav> <!-- /navbar -->

    <!-- body -->
    <div class="wrapper d-flex w-100">
        <!-- sidebar -->
        <nav id="sidebar" class="text-white noprint">
            <div class="list-group list-group-flush">
                <div class="list-group-item sidebar-separator-title text-muted">
                    <small>MAIN MENU</small>
                </div>

                <!-- menu item and submenu -->
                <a class="list-group-item list-group-item-action bg-dark text-white d-flex align-items-center" data-toggle="collapse" href="#submenu1" aria-expanded="false">
                    <span class="fa fa-fw fa-exchange mr-3"></span>
                    <span>Transactions</span>
                    <span class="submenu-icon fa ml-auto"></span>
                </a>
                <div id="submenu1" class="list-group collapse sidebar-submenu">
                    <a asp-page="/Transactions/Incoming" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-long-arrow-right mr-2"></span>
                        Incoming Food
                    </a>
                    <a asp-page="/Transactions/Outgoing" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-long-arrow-left mr-2"></span>
                        Outgoing Food
                    </a>
                    <a asp-page="/Transactions/Index" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-list mr-2"></span>
                        All Transactions
                    </a>
                </div>

                <!-- menu item and submenu -->
                <a class="list-group-item list-group-item-action bg-dark text-white d-flex align-items-center" data-toggle="collapse" href="#submenu2" aria-expanded="false">
                    <span class="fa fa-fw fa-archive mr-3"></span>
                    <span>Containers</span>
                    <span class="submenu-icon fa ml-auto"></span>
                </a>
                <div id="submenu2" class="list-group collapse sidebar-submenu">
                    <a asp-controller="Containers" asp-action="Create" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-plus mr-2"></span>
                        Create
                    </a>
                    <a asp-controller="Containers" asp-action="Index" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-cubes mr-2"></span>
                        All Containers
                    </a>
                </div>

                <!-- separator -->
                <div class="list-group-item sidebar-separator-title text-muted">
                    <small>MANAGEMENT</small>
                </div>

                <!-- menu item and submenu -->
                <a class="list-group-item list-group-item-action bg-dark text-white d-flex align-items-center" data-toggle="collapse" href="#submenu3" aria-expanded="false">
                    <span class="fa fa-fw fa-table mr-3"></span>
                    <span>Reports</span>
                    <span class="submenu-icon fa ml-auto"></span>
                </a>
                <div id="submenu3" class="list-group collapse sidebar-submenu">
                    <a asp-controller="IncomingReports" asp-action="Index" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-long-arrow-right mr-2"></span>
                        Incoming
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-long-arrow-left mr-2"></span>
                        Outgoing
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-cube mr-2"></span>
                        Pantry Packs
                    </a>
                    <a asp-controller="ContainersReport" asp-action="Index" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-database mr-2"></span>
                        Inventory
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-shopping-cart mr-2"></span>
                        Grocery Rescue
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="fa fa-fw fa-dollar mr-2"></span>
                        In-Kind Slip (Bank)
                    </a>
                </div>

                @if (User.FindFirst("UserRole").Value == UserRole.ADMIN.ToString())
                {
                    <!-- menu item and submenu -->
                    <a class="list-group-item list-group-item-action bg-dark text-white d-flex align-items-center" data-toggle="collapse" href="#submenu4" aria-expanded="false">
                        <span class="fa fa-fw fa-cog mr-3"></span>
                        <span>Administration</span>
                        <span class="submenu-icon fa ml-auto"></span>
                    </a>
                    <div id="submenu4" class="list-group collapse sidebar-submenu">
                        <a asp-page="/Agencies/Index" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-fw fa-handshake-o mr-2"></span>
                            Agencies
                        </a>
                        <a asp-page="/Categories/Index" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-fw fa-sitemap mr-2"></span>
                            Categories
                        </a>
                        <a asp-page="/ChangeLog/Index" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-fw fa-code-fork mr-2"></span>
                            Changelog
                        </a>
                        <a asp-controller="Admin" asp-action="AllUsers" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-fw fa-users mr-2"></span>
                            Users
                        </a>
                    </div>
                }

                <!-- separator -->
                <div class="list-group-item sidebar-separator-title text-muted">
                    <small>QUICK ACTIONS</small>
                </div>

                <!-- menu item -->
                <a asp-page="/Transactions/Incoming" class="list-group-item list-group-item-action bg-dark text-white d-flex align-items-center">
                    <span class="fa fa-fw fa-long-arrow-right mr-3"></span>
                    <span>Incoming Transaction</span>
                </a>
            </div>
        </nav>

        <!-- page content -->
        <div id="content">
            <button class="btn btn-light d-none border border-secondary" id="sidebarCollapse" type="button">
                <span class="collapse-icon fa fa-lg fa-bars text-secondary"></span>
            </button>
            @if (ViewBag.Title != null)
            {
                <h1>@ViewBag.Title</h1>
            }
            @RenderBody() <!-- body page content -->
        </div>
    </div>
</body>
</html>
