@page "{id}"
@model CCSInventory.Pages.Agencies.DetailsModel

@{
    ViewData["Title"] = "Donor/Recipient Details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.AgencyName)
        </dd>
        <dt>
            Phone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.PhoneNumber)
        </dd>
        <dt>
            Email Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.EmailAddress)
        </dd>
        <dt>
            Note
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.AgencyNote)
        </dd>
        <dt>
            Archived
        </dt>
        <dd>
            @(Model.Agency.IsArchived ? "Yes" : "No")
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Model.Agency.Address
        </dd>
        <dt>
            Created On
        </dt>
        <dd>
            @Model.Agency.CreatedDate.ToLocalTime()
        </dd>
        <dt>
            Created By
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.CreatedBy)
        </dd>
        <dt>
            Modified By
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.ModifiedBy)
        </dd>
        <dt>
            Last Modified On
        </dt>
        <dd>
            @Model.Agency.ModifiedDate.ToLocalTime()
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agency.AgencyID" class="btn btn-info"><i class="fa fa-pencil mr-2"></i>Edit</a>
    <a asp-page="./Index" class="btn btn-outline-primary"><i class="fa fa-chevron-left mr-2"></i>Back to List</a>
</div>
