@page
@model CCSInventory.Pages.Agencies.IndexModel

@{
    ViewData["Title"] = "Donors & Recipients";
}

<div class="d-flex justify-content-between my-4">
    <div>
        <form asp-page="./Index" method="get">
            <div class="form-inline">
                <input type="text" class="form-control mr-2" name="SearchString" value="@Model.CurrentFilter" placeholder="Search" />
                <input type="submit" value="Search" class="btn btn-primary mr-2" />
                <a asp-page="./Index" class="btn btn-outline-dark">Clear</a>
            </div>
        </form>
    </div>
    <div>
        <a asp-page="/Agencies/Create" class="btn btn-outline-success"><i class="fa fa-plus mr-2"></i>New Agency</a>
        <a asp-page="/Agencies/ArchivedAgencies" class="btn btn-outline-dark"><i class="fa fa-user-times mr-2"></i>Archived</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="row-details-icon"></th>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Address
                </th>
                <th>
                    Note
                </th>
                <th>
                    Modified&nbsp;By
                </th>
                <th>
                    Modified&nbsp;Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AgencyList)
            {
                if (item.IsArchived == false)
                {
                    <tr>
                        <td class="row-details-icon">
                            <a asp-page="./Details" asp-route-id="@item.AgencyID" class="text-muted" title="View Details"><i class="fa fa-lg fa-ellipsis-v"></i></a>
                        </td>
                        <td>
                            @item.AgencyName
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.AgencyNote
                        </td>
                        <td>
                            @item.ModifiedBy
                        </td>
                        <td>
                            @item.ModifiedDate.ToLocalTime()
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.AgencyList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AgencyList.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AgencyList.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AgencyList.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
