@page
@model CCSInventory.Pages.Agencies.IndexModel

@{
    ViewData["Title"] = "Donors & Recipients";
}
<p class="text-right">
    <a asp-page="Create" class="btn btn-success"><i class="fa fa-address-card-o"></i> Create New</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address
            </th>
            <th>
                Mailing Address
            </th>
            <th>
                Note
            </th>
            <th>
                Modified&nbsp;By
            </th>
            <th>
                Modified&nbsp;Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agency) {
        <tr>
            <td>
                @item.AgencyName
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.MailingAddress
            </td>
            <td>
                @item.AgencyNote
            </td>
            <td>
                @item.ModifiedBy
            </td>
            <td>
                @item.ModifiedDate.ToLocalTime()
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgencyID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgencyID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgencyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
