@model IEnumerable<User>

@*
    View description:
    This view is associated with the AdminController.AllUsers() action.
    It displays all of the system's users in a table.
*@

@{
    ViewBag.Title = "All Users";
}
@section includes{
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
}

<div class="container">
    <div class="text-right">
        <a asp-controller="Admin" asp-action="NewUser" class="btn btn-success">
            <i class="fa fa-user-plus"></i> New User
        </a>
    </div>
@if(Model.Count() < 1){
    <p>No users in database... how are you seeing this?</p>
} else {
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>User Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Note</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach(User user in Model){
                <tr>
                    <td><a asp-controller="admin" asp-action="edituser" asp-route-userId="@user.ID" class="btn btn-danger">Edit</a></td>
                    <td>@user.UserName</td>
                    <td>@user.FullNameLastFirst</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@user.Note</td>
                    <td>@user.Modified.ToLocalTime().ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
