@page
@model CCSInventory.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Transaction Details";
}


<div>
    <hr />
    <div class="my-3">
        <a asp-page="./TransactionPrint" asp-route-id="@Model.Transaction.TransactionID" class="btn btn-secondary" title="Print Transaction"><i class="fa fa-lg fa-print mr-2"></i>Print</a>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.TransactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.IsOutgoing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.IsOutgoing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.Agency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.Agency.AgencyName)
        </dd>
        @*
            <dt>
                @Html.DisplayNameFor(model => model.Transaction.TransactionType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Transaction.TransactionType.TransactionTypeName)
            </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CbDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transaction.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transaction.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MbDate)
        </dd>
    </dl>

    <div>
        <label style="font-weight:bold">Line Items:</label>
        @foreach (var item in Model.LineItems)
        {
            <p style="overflow:hidden; white-space:nowrap">
                <label style="margin:2px; font-weight:bold">@(Model.LineItems.ToList().IndexOf(item) + 1).</label>
                @if (item.Subcategory != null)
                {
                    if (@item.TransactionTypeID == 3) //USDA
                    {
                        <label style="margin:5px 5px 5px 15px; font-weight:bold">Food Category:</label><label>@(item.Subcategory.SubcategoryName + " " + item.Subcategory.SubcategoryNote)</label>
                    }
                    else
                    {
                        <label style="margin:5px 5px 5px 5px; font-weight:bold">Food Category:</label><label>@item.Subcategory.SubcategoryName</label>
                    }
                }

                @if (item.TransactionType != null)
                {
                    <label style="margin:5px 5px 5px 15px; font-weight:bold">Line Item Type:</label><label>@item.TransactionType.TransactionTypeName</label>
                }


                <label style="margin:5px 5px 5px 15px; font-weight:bold">Weight:</label><label>@item.Weight.ToString()</label>

                @if (item.IsPantryPack)
                {
                    <label style="margin:5px 5px 5px 15px; font-weight:bold">Pantry Pack:</label><label>Yes</label>
                    <label style="margin:5px 5px 5px 15px; font-weight:bold">Quantity:</label><label>@item.Units.ToString()</label>
                }
                else
                {
                    <label style="margin:5px 5px 5px 15px; font-weight:bold">Pantry Pack:</label><label>No</label>
                    if (@item.TransactionTypeID == 3) //USDA
                    {
                        <label style="margin:5px 5px 5px 15px; font-weight:bold">Cases:</label><label>@item.Units.ToString()</label>
                    }
                }

                @if (item.TransactionLineItemNote != null)
                {
                    <label style="margin:5px 5px 5px 15px; font-weight:bold">Note:</label><label>@item.TransactionLineItemNote</label>
                }
            </p>
        }
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.TransactionID" class="btn btn-info"><i class="fa fa-pencil mr-2"></i>Edit</a>
    <a asp-page="./Index" class="btn btn-outline-primary"><i class="fa fa-chevron-left mr-2"></i>Back to List</a>
</div>
