@model NewBin

@*
    View description:
    This view is for creating a new Container.
*@

@{
    ViewData["Title"] = "New Bin";
}

@section includes {
    <script defer src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script defer src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script defer src="~/lib/lodash/lodash.min.js"></script>
    <script defer src="~/containers/newbin.js"></script>
}

<div class="container">
    <div class="row">
        <form method="post" asp-action="NewBin" class="col">
            <div class="form-check">
                <input asp-for="@Model.IsUSDA" class="form-check-input"/>
                <label asp-for="@Model.IsUSDA" class="form-check-label"></label>
            </div>
            <div class="form-check">
                <input asp-for="@Model.AutoGenerate" id="autogenCheckbox" class="form-check-input"/>
                <label asp-for="@Model.AutoGenerate" for="autogenCheckbox" class="form-check-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BinNumber" class="control-label"></label>
                <input id="binNumberInput" asp-for="@Model.BinNumber" class="form-control"/>
                <span asp-validation-for="@Model.BinNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SubcategoryID" class="control-label"></label>
                <select asp-for="@Model.SubcategoryID" asp-items="@ViewBag.Subcategories" class="form-control"></select>
                <span asp-validation-for="@Model.SubcategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Weight" class="control-label"></label>
                <input asp-for="@Model.Weight" class="form-control"/>
                <span asp-validation-for="@Model.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Cases" class="control-label"></label>
                <input asp-for="@Model.Cases" class="form-control"/>
                <span asp-validation-for="@Model.Cases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Location" class="control-label"></label>
                <input asp-for="@Model.Location" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ExpirationDate" class="control-label"></label>
                <input asp-for="@Model.ExpirationDate"  class="form-control"/>
                <span asp-validation-for="@Model.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ContainerNote" class="control-label"></label>
                <input asp-for="@Model.ContainerNote" class="form-control"/>
            </div>
            <div>
                <a class="btn btn-secondary" asp-controller="Containers" asp-action="Index">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
        <div class="col">
            <div asp-validation-summary="All" class="text-danger"></div>
            @await Component.InvokeAsync("ContainersRecent")
        </div>
    </div>
</div>
