@model Container

@*
    View description:
    This view displays a single container and gives the user an option to edit it.
*@

@{
    ViewBag.Title = "View Bin";
}

@section includes {
    <link rel="stylesheet" media="print" href="~/containers/viewbin_print.css"/>
}

<div class="container">
    <div class="text-center printable">
        <img class="barcode" src="/barcode?code=@Model.BinNumber" alt="Barcode image for bin @Model.BinNumber" title="Barcode for: @Model.BinNumber"/>
    </div>
    <div class="printable"><span class="font-weight-bold">Bin Number:</span> @Model.BinNumber</div>
    <div><span class="font-weight-bold">Category:</span> @Model.Subcategory.Category.CategoryName &gt; @Model.Subcategory.SubcategoryName</div>
    <div><span class="font-weight-bold">Cases:</span> @Model.Cases</div>
    <div><span class="font-weight-bold">Weight:</span> @Model.Weight</div>
    <div class="printable"><span class="font-weight-bold">USDA:</span> @(Model.IsUSDA ? "Yes" : "No")</div>
    <div class="printable"><span class="font-weight-bold">Note:</span> @Model.ContainerNote</div>
    <div><span class="font-weight-bold">Created On:</span> @Model.CreatedDate.ToLocalTime()</div>
    <div><span class="font-weight-bold">Created By:</span> @Model.CreatedBy</div>
    <div class="printable"><span class="font-weight-bold">Modified on:</span> @Model.ModifiedDate.ToLocalTime()</div>
    <div><span class="font-weight-bold">Modified by:</span> @Model.ModifiedBy</div>
    <a href="javascript:window.print()" class="btn btn-secondary"><i class="fa fa-print"></i> Print</a>
    <a asp-controller="Containers" asp-action="EditContainer" asp-route-containerID="@Model.ContainerID" class="btn btn-danger"><i class="fa fa-pencil"></i> Edit Container</a>
</div>
